@tailwind base;
@tailwind components;
@tailwind utilities;

.maxContainer {
  padding-right: 7%;
  padding-left: 7%;
}

#JSCaption {
  background-image: linear-gradient(
    to bottom,
    rgb(25, 25, 87),
    rgb(61, 61, 143),
    rgb(127, 148, 165)
  );
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-background 10s infinite ease-in-out;
}

/* For the Scrollbar */
::-webkit-scrollbar {
  height: 5px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #cfb8b8;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.radient {
  background: linear-gradient(
    to right, #833ab4, #fd1d1d, #fcb045
  );
  background-size: 400% 400%;
  animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}